.landing{
    background-position: center;
    background-size: cover;
    min-height: 950px;
    
}

.title1{
    font-family: "Montserrat", sans-serif;
    font-size: 90px;
    letter-spacing: 2px;
    font-weight: 700;
}

.title2{
    font-family: "Montserrat", sans-serif;
    font-size: 70px;
    letter-spacing: 1px;
    font-weight: 800;
    color: #CBCEDF;
    -webkit-text-stroke: 3px rgb(255, 255, 255);
}

.paragraph{
    font-family: "Arvo", serif;
    font-size: 20px;
}

#quienes{
    min-height: 900px;

}

.botonCita{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.divTitle{
    display: flex;
    justify-content: space-evenly;
}

.buttonTitle{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 600;

}

.divImage{
    flex-shrink: 0;
}

.titleEspecialidades{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.pEspecialidades{
    font-family: "Arvo", serif;
    color: #FFFFFF;
    text-align: center;
}